<% title 'Admins' %>
<% breadcrumb :partners_admins %>
<% content_for(:hero_right) do %>
  <%= link_to 'New admin', new_partners_admin_path, class: 'button is-primary is-right' %>
<% end %>

<div class="columns">
  <div class="column">
    <div class="card">
      <div class="card-table">
        <div class="content">
          <table class="table is-fullwidth is-striped">
            <thead>
              <tr>
                <th>Employee ID</th>
                <th>Name</th>
              </tr>
            </thead>
            <tbody>
              <%= render @admins %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
