/*.container {
    padding-top: 70px;
}*/

.just-padding {
    padding: 15px;
}

.list-group-item {
    padding: 0;
}

.hidden {
  /*opacity: 0;*/
  overflow: hidden;
  height: auto;
  max-height: 0px;
}

.expandable{
  /*  opacity: 0;
    overflow: hidden;
    height: auto;
    max-height: 0px;
    overflow: hidden;*/
    -webkit-transition: height .5s,opacity 0.5s ;
    transition: max-height .5s, opacity 0.5s;
}

.expandable.show {
  max-height: 1000px;
  /*opacity: 1;*/
/*  -webkit-transition: height 2s,opacity 0.5s ;
  transition: max-height 2s, opacity 0.5s;*/
}


.list-group.list-group-root {
    padding: 0;
    padding-left: 0;
    overflow: hidden;
}

.list-group.list-group-root .list-group {
    margin-bottom: 0;
}

.list-group.list-group-root .list-group-item {
    border-radius: 0;
    border-width: 0;
}

.list-group.list-group-root > .list-group-item:first-child {
    border-top-width: 0;
}

.list-group.list-group-root  .list-group  .list-group-item {
    padding-left: 50px;
}

.list-group.list-group-root > .list-group > .list-group > .list-group-item {
    padding-left: 45px;
}

.list-group-item .glyphicon {
    margin-right: 5px;
}
