.preview-card {
  background-color: #fff;
  border: 1px solid #d8d8d8;
}

.preview-body {
  padding: 20px;
}

.preview-image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 60%;
}
