@import "./bulma/utilities/initial-variables";
@import "./bulma/utilities/functions";

$gold: #C2A244;
$gold-invert: #fff;
$dark-gold: #B5935E;

$primary: $gold;
$primary-invert: $gold-invert;

$link: $gold;
$link-invert: $gold-invert;
