<p>Hi <%= @resource.name || @resource.email %>,</p>

<p>Someone has requested to reset your password. Please use the token below:</p>

<pre><code><%= @token %></code></pre>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you use the code above and create a new one.</p>
