<section class="hero is-light is-bold is-small">
  <div class="hero-body">
    <div class="columns">
      <div class="column">
        <h1 class="title">
          <%= yield :title %>
        </h1>
      </div>

      <div class="column has-text-right">
        <%= yield :hero_right %>
      </div>
    </div>
  </div>
</section>
